name: Build ffmuc firmware

on:
  workflow_dispatch:
  push:
    tags:
      - v*
  pull_request:
    paths-ignore:
      - '**.md'
      - '**/CODEOWNERS'
      - '.github/ISSUE_TEMPLATE'
      - '.github/*.yml'

jobs:
  generate_target_matrix:
    runs-on: ubuntu-latest
    outputs:
      target_json: ${{ steps.set_target.outputs.target }}
    steps:
      - name: Set target matrix
        id: set_target
        shell: bash
        run: |
          target_list="[\"ar71xx-generic\", \"ar71xx-tiny\", \"ar71xx-nand\", \"ath79-generic\", \"brcm2708-bcm2708\", \"brcm2708-bcm2709\", \"ipq40xx-generic\", \"ipq806x-generic\", \"lantiq-xrx200\", \"lantiq-xway\", \"mpc85xx-generic\", \"mpc85xx-p1020\", \"ramips-mt7620\", \"ramips-mt7621\", \"ramips-mt76x8\", \"ramips-rt305x\", \"sunxi-cortexa7\", \"x86-generic\", \"x86-geode\", \"x86-legacy\", \"x86-64\", \"ar71xx-mikrotik\", \"brcm2708-bcm2710\", \"mvebu-cortexa9\"]"
          echo "target={\"target\": $(echo $target_list)}" >> $GITHUB_OUTPUT

  build_firmware:
    needs: generate_target_matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate_target_matrix.outputs.target_json) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 0
      - name: Install build dependencies
        run: |
          sudo -E ./scripts/install_build_dependencies.sh
      - name: build target ${{ matrix.target }}
        id: compile
        run: |
          git checkout -b patched ${GITHUB_SHA}
          make BROKEN=1 GLUON_TARGETS=${{ matrix.target }} V=s
          echo "status=success" >> $GITHUB_OUTPUT
      - name: Upload firmware ${{ matrix.target }}
        uses: actions/upload-artifact@master
        if: steps.compile.outputs.status == 'success'
        with:
          name: ${{ matrix.target }}_output
          path: ./output

  create_release:
    runs-on: ubuntu-latest
    needs: build_firmware
    if: github.event_name != 'pull_request'
    outputs:
      output1: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

  upload_release:
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate_target_matrix.outputs.target_json) }}
    runs-on: ubuntu-latest
    needs:
      - create_release
      - generate_target_matrix
    if: github.event_name != 'pull_request'
    steps:
      - name: Download Artifact ${{ matrix.target }}
        uses: actions/download-artifact@v2
        with:
          name: ${{ matrix.target }}_output
          path: ${{ matrix.target }}_output
      - name: Create ${{ matrix.target }}_output.tar.gz
        run: tar zcvf ${{ matrix.target }}_output.tar.gz ${{ matrix.target }}_output
      - name: Upload Release Asset ${{ matrix.target }}
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.output1 }}
          asset_path: ./${{ matrix.target }}_output.tar.gz
          asset_name: ${{ matrix.target }}_output.tar.gz
          asset_content_type: application/gzip
